@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

div.header {
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
    image-align: center;
}

h1 {
    font-size: 38px;
    text-align: center;
    padding-top: 10%;
    color: #FF24F0;
    font-family: "Futura Bold";
}


h4 {
    color: #232DDB;
    font-family: "Helvetica";
}

p {
    font-family: "Helvetica";
}

.caption {
    font-size: 14px;
    font-style: italic;
    font-family: "Helvetica";
    text-align: center;
}

.body {
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
    font-size: 18px;
    font-family: "Helvetica";
}

.large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

.medium {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.small {
    display: flex; 
}



/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
}